.myname {
  font-family: "Playfair Display", system-ui !important;
  font-weight: 400;
  font-style: normal;
}

.paws {
  font-family: "Faster One";
  text-align: center;
}

.band {
  font-family: "Permanent Marker", cursive;
}

body {
  color: #333;
  background-color: #f0f0f0;
  line-height: 1.6;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth; /* Smooth scroll for anchor links */
}

/* Sticky Navbar */
nav {
  position: sticky;
  top: 0;
  background-color: #F0F0F0; /* Dark gray background */
  z-index: 100;
  padding: 20px 20px; /* Adjust padding for spacing */
  display: flex; /* Use flexbox layout */
  justify-content: space-evenly; /* Space out links and toggle button */
  align-items: center; /* Vertically center items */
}

nav ul {
  display: flex; /* Keep the navbar links horizontally aligned */
  list-style-type: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* White text */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #fff; /* Light gray on hover */
}




.live-preview {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 16px;
  padding: 4px; /* Padding around the iframe */
  height: 160px; /* Small preview */
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-preview {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .card {
    flex: 1 1 calc(45% - 16px); /* Two cards per row on medium screens */
    max-width: calc(45% - 16px);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(100% - 16px); /* Single column on small screens */
    max-width: calc(100% - 16px);
  }
}





.container {
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

.navbut {
  padding: 10px 20px;
  background-color: #fff;
  color: #fff;
  border: none;
  transition: 0.3s ease;
  border-radius: 8px;
}

.navbut a {
  color: #fff;
  font-size: 1.3rem;
}

.navbut:hover {
  transform: scale(1.04);
  background-color: #8a8a8a;
}


.prgh {
  font-size: 1.3rem;
}

/* Hero Section */
header {
  text-align: center;
  padding: 60px 0;
  background: rgb(36, 115, 232);
  color: white;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: smoothGreenToBlue 4s ease-in-out;
}

@keyframes smoothGreenToBlue {
  0% {
    background: rgb(66, 184, 131);
  }
  1% {
    background: rgb(65, 183, 132);
  }
  2% {
    background: rgb(65, 182, 133);
  }
  3% {
    background: rgb(65, 181, 134);
  }
  4% {
    background: rgb(64, 181, 135);
  }
  5% {
    background: rgb(64, 180, 136);
  }
  6% {
    background: rgb(64, 179, 137);
  }
  7% {
    background: rgb(63, 179, 138);
  }
  8% {
    background: rgb(63, 178, 139);
  }
  9% {
    background: rgb(63, 177, 140);
  }
  10% {
    background: rgb(63, 177, 141);
  }
  11% {
    background: rgb(62, 176, 142);
  }
  12% {
    background: rgb(62, 175, 143);
  }
  13% {
    background: rgb(62, 175, 144);
  }
  14% {
    background: rgb(61, 174, 145);
  }
  15% {
    background: rgb(61, 173, 146);
  }
  16% {
    background: rgb(61, 172, 147);
  }
  17% {
    background: rgb(60, 172, 148);
  }
  18% {
    background: rgb(60, 171, 149);
  }
  19% {
    background: rgb(60, 170, 150);
  }
  20% {
    background: rgb(60, 170, 151);
  }
  21% {
    background: rgb(59, 169, 152);
  }
  22% {
    background: rgb(59, 168, 153);
  }
  23% {
    background: rgb(59, 168, 154);
  }
  24% {
    background: rgb(58, 167, 155);
  }
  25% {
    background: rgb(58, 166, 156);
  }
  26% {
    background: rgb(58, 166, 157);
  }
  27% {
    background: rgb(57, 165, 158);
  }
  28% {
    background: rgb(57, 164, 159);
  }
  29% {
    background: rgb(57, 163, 160);
  }
  30% {
    background: rgb(57, 163, 161);
  }
  31% {
    background: rgb(56, 162, 162);
  }
  32% {
    background: rgb(56, 161, 163);
  }
  33% {
    background: rgb(56, 161, 164);
  }
  34% {
    background: rgb(55, 160, 165);
  }
  35% {
    background: rgb(55, 159, 166);
  }
  36% {
    background: rgb(55, 159, 167);
  }
  37% {
    background: rgb(54, 158, 168);
  }
  38% {
    background: rgb(54, 157, 169);
  }
  39% {
    background: rgb(54, 157, 170);
  }
  40% {
    background: rgb(54, 156, 171);
  }
  41% {
    background: rgb(53, 155, 172);
  }
  42% {
    background: rgb(53, 155, 173);
  }
  43% {
    background: rgb(53, 154, 174);
  }
  44% {
    background: rgb(52, 153, 175);
  }
  45% {
    background: rgb(52, 152, 176);
  }
  46% {
    background: rgb(52, 152, 177);
  }
  47% {
    background: rgb(51, 151, 178);
  }
  48% {
    background: rgb(51, 150, 179);
  }
  49% {
    background: rgb(51, 150, 180);
  }
  50% {
    background: rgb(51, 149, 181);
  }
  51% {
    background: rgb(50, 148, 182);
  }
  52% {
    background: rgb(50, 148, 183);
  }
  53% {
    background: rgb(50, 147, 184);
  }
  54% {
    background: rgb(49, 146, 185);
  }
  55% {
    background: rgb(49, 146, 186);
  }
  56% {
    background: rgb(49, 145, 187);
  }
  57% {
    background: rgb(48, 144, 188);
  }
  58% {
    background: rgb(48, 143, 189);
  }
  59% {
    background: rgb(48, 143, 190);
  }
  60% {
    background: rgb(48, 142, 191);
  }
  61% {
    background: rgb(47, 141, 192);
  }
  62% {
    background: rgb(47, 141, 193);
  }
  63% {
    background: rgb(47, 140, 194);
  }
  64% {
    background: rgb(46, 139, 195);
  }
  65% {
    background: rgb(46, 139, 196);
  }
  66% {
    background: rgb(46, 138, 197);
  }
  67% {
    background: rgb(45, 137, 198);
  }
  68% {
    background: rgb(45, 137, 199);
  }
  69% {
    background: rgb(45, 136, 200);
  }
  70% {
    background: rgb(45, 135, 201);
  }
  71% {
    background: rgb(44, 135, 202);
  }
  72% {
    background: rgb(44, 134, 203);
  }
  73% {
    background: rgb(44, 133, 204);
  }
  74% {
    background: rgb(43, 132, 205);
  }
  75% {
    background: rgb(43, 132, 206);
  }
  76% {
    background: rgb(43, 131, 207);
  }
  77% {
    background: rgb(42, 130, 208);
  }
  78% {
    background: rgb(42, 130, 209);
  }
  79% {
    background: rgb(42, 129, 210);
  }
  80% {
    background: rgb(42, 128, 211);
  }
  81% {
    background: rgb(41, 128, 212);
  }
  82% {
    background: rgb(41, 127, 213);
  }
  83% {
    background: rgb(41, 126, 214);
  }
  84% {
    background: rgb(40, 126, 215);
  }
  85% {
    background: rgb(40, 125, 216);
  }
  86% {
    background: rgb(40, 124, 217);
  }
  87% {
    background: rgb(39, 123, 218);
  }
  88% {
    background: rgb(39, 123, 219);
  }
  89% {
    background: rgb(39, 122, 220);
  }
  90% {
    background: rgb(39, 121, 221);
  }
  91% {
    background: rgb(38, 121, 222);
  }
  92% {
    background: rgb(38, 120, 223);
  }
  93% {
    background: rgb(38, 119, 224);
  }
  94% {
    background: rgb(37, 119, 225);
  }
  95% {
    background: rgb(37, 118, 226);
  }
  96% {
    background: rgb(37, 117, 227);
  }
  97% {
    background: rgb(36, 117, 228);
  }
  98% {
    background: rgb(36, 116, 229);
  }
  99% {
    background: rgb(36, 115, 230);
  }
  100% {
    background: rgb(36, 115, 232);
  }
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* Lower the z-index to ensure the particles don't block interactions */
}


/* Header: Sam Chutter's Name - Montserrat, bold */
header h1 {
  font-family: "Montserrat", sans-serif !important; /* Use Montserrat font */
  font-weight: 700; /* Bold weight */
  font-size: 6rem;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  animation: fadeIn 0.9s ease forwards;
  transition: transform 0.2s ease-in-out;
  letter-spacing: 0;
}

/* Animating header name fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typed-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0f0f0;
  display: inline-block;
  border-right: 3px solid #42b883;
  white-space: nowrap;
  overflow: hidden;
  width: 0; /* Start with zero width */
  animation: typing 3.3s steps(40) 0.5s forwards, remove-caret 0s 2.8s forwards;
  margin-top: 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35vw; /* Using viewport width to scale responsively */
  }
}

@keyframes remove-caret {
  100% {
    border-right: none; /* Caret disappears once typing ends */
  }
}

/* Projects Section */
.projects {
  margin: 40px 0;
}

.project-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 15px;
}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* For positioning the animated border */
  transition: box-shadow 0.3s ease;
  transition: 0.4s ease-out;
  margin-top: 15px;
  overflow: hidden;
  z-index: 40; /* Ensure the card is above other content */
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.card a {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: #2472e8; /* Blue background */
  color: #fff; /* Lighter gray text color */
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 50; /* Ensure the link is above any pseudo-elements or overlapping content */
}

.card:hover {
  transform: scale(1.03); /* Simple scale effect */
}

.card a:hover {
  background-color: #42b883;
}

/* Medal-like Vue.js Button */
.vue-badge {
  background: #959595;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: lightgrey;
  border-radius: 50px; /* Rounded edges */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease; /* Smooth transition */
  display: inline-block;
  margin-top: 10px;
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
}

.vue-badge:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
  background: linear-gradient(135deg, #2473e8, #42b883);
  color: #f0f0f0;
}

.vue-badge-stack {
  background: linear-gradient(135deg, #2473e8, #42b883); /* Static gradient */
  color: white;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 700;
  border: lightgrey;
  border-radius: 50px; /* Rounded edges */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* Smooth scale transition */
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.vue-badge-stack:hover {
  transform: scale(1.05); /* Retain scaling effect on hover */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}


.make-room {
  margin-bottom: 20px;
}

.navlinks {
  font-family: "Roboto Mono" !important;
}

.navbut a {
  color: #000;
}


h2 {
  font-family: "Roboto Mono" !important;
  font-size: 2rem;
}

.change {
  font-family: "Playfair Display", system-ui !important;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

/* -----------v----------Dark Mode Styles-----------v----------- */
.dark-mode .dark-mode-toggle {
  padding: 10px 20px;
  font-family: "Roboto Mono" !important;
  border-radius: 8px;
  background-color: #585858;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  min-width: 120px; /* Ensures the button stays the same size */
  text-align: center; /* Center text in the button */
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode nav {
  position: sticky;
  top: 0;
  background-color: #393939; /* Dark gray background */
  z-index: 100;
  padding: 20px 20px; /* Adjust padding for spacing */
  display: flex; /* Use flexbox layout */
  justify-content: space-evenly; /* Space out links and toggle button */
  align-items: center; /* Vertically center items */
}

.dark-mode .navbut {
  padding: 10px 20px;
  background-color: #585858;
  color: fff;
  border: none;
  transition: 0.3s ease;
  border-radius: 8px;
}

.dark-mode .navbut:hover {
  transform: scale(1.04);
  background-color: #8a8a8a;
}

.dark-mode header h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif; /* Use Montserrat font */
  font-weight: 700; /* Bold weight */
  font-size: 6rem;
}

.dark-mode .typed-text {
  color: #f0f0f0;
}

.dark-mode .card {
  background: #444;
  color: #fff;
}

.dark-mode .card a {
  background-color: #2473e8;
}

.dark-mode .card a:hover {
  background-color: #42b883;
}

.dark-mode-toggle {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  min-width: 120px; /* Ensures the button stays the same size */
  text-align: center; /* Center text in the button */
  font-size: 1.3rem;
}

.dark-mode-toggle:hover {
  background-color: #8a8a8a;
  transform: scale(1.04);
}

.dark-mode .myname {
  color: #f3f3f3;
}

.dark-mode .typed-text {
  color: #f3f3f3;
}

.dark-mode .card-stack {
  background-color: #444;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .navbut a {
  color: #fff;
}

/* -----------^----------Dark Mode Styles-----------^----------- */

.card-stack {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}